/bin/*
!/bin/.gitkeep

/cmd/adduser/adduser
/cmd/delete_old_exports/delete_old_exports
/cmd/genkeys/genkeys
/cmd/importdb/importdb
/cmd/server/server

/config/*
!/config/.gitkeep

/pkg/*
!/pkg/.gitkeep

/tmp/imports/*
!/tmp/imports/.gitkeep

/tmp/exports/*
!/tmp/exports/.gitkeep

/tmp/logs/*
!/tmp/logs/.gitkeep

/tmp/pids/*
!/tmp/pids/.gitkeep

/tmp/sessions/*
!/tmp/sessions/.gitkeep

/test/*
!/test/abcd1234/
!/test/abcd1234/somefile.zip
!/test/empty_two.csv
!/test/empty_two.csv.zip
!/test/empty_two.dbf
!/test/empty_two.geojson
!/test/empty_two.kml
!/test/empty_two.prj
!/test/empty_two.shp
!/test/empty_two.shx
!/test/empty_two.zip
!/test/imports/
/test/imports/*
!/test/imports/.gitkeep
!/test/tbl_sample_export.sql
!/test/exports/
/test/exports/*
!/test/exports/.gitkeep

*.swp
*.DS_Store
*.*~

