{{define "footer"}}
    </div><!-- div#content -->
    <div id="footer">&nbsp;</div>
  </div>
  <div id="export-message-holder" class="exim-message-holder disp-none">
    <h5>Exports Status</h5>
    <div id="export-message-container" class="disp-none"></div>
  </div>
  <div id="import-message-holder" class="exim-message-holder disp-none">
    <h5>Imports Status</h5>
    <div id="import-message-container" class="disp-none"></div>
  </div>
  <div id="loading-image-holder" class="disp-none">
    {{_image "loading_square.gif" "loading image" "width=\"200\" height=\"200\""}}
  </div>
</body>
</html>
{{end}}
